
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/form', book: @book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to user_path(@books.user) do %>
						<%= attachment_image_tag @books.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no-image-mini.jpg" %><br>
						<%= @books.user.name %>
						<% end %>
					</td>
					<td><%= link_to @books.title, book_path(@books) %></td>
					<td><%= @books.body %></td>
					<% if @books.user == current_user %>
					<td><%= link_to "Edit", edit_book_path(@books), class: "btn-sm btn-success edit_book_#{@books.id}" %></td>
					<td><%= link_to "Destroy", book_path(@books), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@books.id}" %></td>
					<% else %>
          <td></td>
          <td></td>
          <% end %>
				</tr>
			</table>

	</div>
</div>

